.Rproj.user
.Rhistory
.RData
.Rprofile
.Ruserdata
**/*cache/
**/*files/
**/*.out
**/*.html
**/*.ot
**/*.log
**/*.tex
**/*.aux
Test Graph Code for DZ.R
.DS_Store
THESIS.log
THESIS_cache/
# Ignore renv cache and library
renv/library/
renv/cache/
#ignore everything in output folder - except gitignore
/output/*
!/output/.gitkeep
**/NA/
Publication_Analysis/figures/*
!Publication_Analysis/figures/.gitkeep
!Publication_Analysis/figures/Map_2023-09-01.png
!Publication_Analysis/figures/HCR_boxplot_2023-08-18.png
!Publication_Analysis/figures/Oly_DTW_SL_allsites_2023-09-01.png
Data/map_rnaturalearth/GRAY_HR_SR_OB/*