.Rproj.user
.Rhistory
.RData
.Rprofile
.Ruserdata
**/*cache/
**/*files/
**/*.out
**/*.html
**/*.ot
**/*.log
**/*.tex
**/*.aux
Test Graph Code for DZ.R
.DS_Store
THESIS.log
THESIS_cache/
# Ignore renv cache and library
renv/library/
renv/cache/

output/
**/NA/
Publication_Analysis/figures/*
!Publication_Analysis/figures/.gitkeep
Data/map_rnaturalearth/GRAY_HR_SR_OB/*